@use "tailwindcss";

/* Base styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

* {
  box-sizing: border-box;
}